<div class="mission-content" {{bindAttr style="view.contentStyle"}}>
    <img {{bindAttr src="view.imageSrc"}} />
    <div class="mission-description">{{view.content.description}}</div>
    <div class="mission-agents">@{{view.location}} {{view.time}} min ago</div>
</div>
