<div id="act-list-page" class="content-page">
    <div class="header">
        <button {{action showMap}} class="nav-btn left-nav">Map</button>
        <div class="title">Local Acts</div>
        <button {{action addAct}} class="nav-btn right-nav">Add</button>
    </div>
    <div class="content">
        {{view KindActs.ActCardView}}
        {{view KindActs.ActCardView}}
        {{view KindActs.ActCardView}}
        {{view KindActs.ActCardView}}
        {{view KindActs.ActCardView}}
        {{view KindActs.ActCardView}}
    </div>
</div>
