<div class="mission-slider swipe">
    <div class="swipe-wrap">
        {{view KindActs.MissionSlideView}}
        {{view KindActs.MissionSlideView}}
        {{view KindActs.MissionSlideView}}
        {{view KindActs.MissionSlideView}}
        {{view KindActs.MissionSlideView}}
        {{view KindActs.MissionSlideView}}
    </div>
</div>

